@{
    ViewData["Title"] = "Eliminar contatos";
}

<div class="text-center">
    <h1 class="display-4">Tem a certeza que deseja apagar o contacto?</h1>
    <a role="button" class="btn btn-danger"  asp-controller="Contato" asp-action="Apagar">Sim</a>
    <a role="button" class="btn btn-primary" asp-controller="Contato" asp-action="Index">Não</a>

</div>
