@model Oficina
@{
    ViewData["Title"] = "Eliminar Oficina";
}

<div class="text-center">
    <h1 class="display-4">Tem a certeza que deseja apagar a Oficina (@Model.Nome)?</h1>
    <a role="button" class="btn btn-danger" asp-controller="Oficinas" asp-route-id="@Model.IdOficina" asp-action="Apagar" >Sim</a>
    <a role="button" class="btn btn-primary" asp-controller="Oficinas" asp-action="Index">Não</a>

</div>
