@model HomeModel 
@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo!, @Model.Nome</h1>
    <p>MVC OFICINAS</p>
    <span>Email: @Model.Email</span>
</div>
