@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Esqueceu-se da sua password, confirmação";
}

<h1>@ViewData["Title"]</h1>
<p>
    Verifique o seu email para repor a sua password.
</p>
